
body{
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );    background-size: cover;
}

.s1,.s2,.s3{
    position: relative;
}
.socialMediaOdd{
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 25px;
}
.socialMediaOdd li{
    list-style: none;
    width: 65px;
    height: 65px;
    background: linear-gradient(154deg,rgba(120,241,179,.8),rgba(213,40,175,.8));
    margin: 0 8px;
}
.socialMediaOdd li a{
    display: block;
    width: 58px;
    height: 58px;
    background-color: white;
    color: black;
}
.socialMediaOdd li, .socialMediaOdd li a{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767.9px) {
    .socialMediaOdd{
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }
  }
/*span{
    background: var(--grey) !important;
}*/




div#myInfors{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
div#myInfors h1{
    text-align: center;
    --progress:0;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    background-image: linear-gradient(var(--white) calc(100% - calc(var(--progress)*100%)),var(--pink) calc(100% - calc(var(--progress)*100%)));
    /*以文字作为遮罩，但因为属性过新，需要添加webkit前缀*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transform: scale(clamp(1, calc((var(--progress) - 0.99) * 200), 1.2));
    transition: .3s transform ease-in-out;
}




@media screen and (max-width: 767.9px) {
    div#myInfors h1{
        font-size: 28px;
    }
    .s1 .scrollH1 #scrollText li{
        padding: 3px 0;
    }
    .s1 .scrollH1 #scrollText li:nth-of-type(3){
        padding: 5px 0;
    }
    .s1 .scrollH1 #scrollText li:nth-of-type(4){
        padding: 4px 0;
    }
    
  }
  @media screen and (min-width: 768px) {
    div#myInfors h1{
        font-size: 35px;
    }
  }

  .s1 .scrollH1{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 5px;
    top: 50px;
  }
  .s1 .scrollH1 #scrollText{
    margin: 0;
    position: relative;
    width: auto;
    height: auto;
    height: 45px;
    z-index:-1;
    color: #3495db;
    overflow: hidden;
    text-align: center;
  }
  .s1 .scrollH1 #scrollText::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left:-100%;
    z-index: 1;
    background-color: #fff;
    animation: animatebefore 2.5s linear infinite;
    transition: 0.7s linear;
    transition-delay: 3s;
  }
  @keyframes animatebefore{
    0%{left: -100%;background: transparent;}
    50%{left: 50%;background: #fff;}
    100%{left: 100%;}
}
.s1 .scrollH1 #scrollText ul{
    margin:  0.5%;
    padding: 0;
    text-align: left;
    width: auto;
    animation: animate 16s linear infinite;
}
@keyframes animate{
    0%{transform: translateY(0px);}
    7%{transform: translateY(0px);}
    14%{transform: translateY(-40px);}
    21%{transform: translateY(-40px);}
    28%{transform: translateY(-80px);}
    35%{transform: translateY(-80px);}
    42%{transform: translateY(-125px);}
    49%{transform: translateY(-125px);}
    59%{transform: translateY(-165px);}
    66%{transform: translateY(-165px);}
    73%{transform: translateY(-207px);}
    80%{transform: translateY(-207px);}
    88%{transform: translateY(-245px);}
    100%{transform: translateY(-245px);}    
}
.s1 .scrollH1 #scrollText ul{
    list-style-type: none;
    height: 45px;
}

#myInfors .buttons{
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translate(-50%,-50%);
    width: 500px;
    text-align: center;
    
}
#myInfors .buttons a{
    display: inline-block;
    width: 150px;
    margin: 0 20px;
    text-decoration: none;
    padding: 10px 5px;
    font-family: 'Bebas Neue', cursive;

    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;

}
@media screen and (max-width: 384px) {
    #myInfors .buttons a{
        padding: 10px 2px;
        margin: 0 8px;
        left: -3px;
    }
  }

#myInfors .buttons a::after{
    --slice-0:inset(50% 50% 50% 50%);
    --slice-1:inset(80% -6px 0 0);
    --slice-2:inset(50% -6px 30% 0);
    --slice-3:inset(10% -6px 85% 0);
    --slice-4:inset(40% -6px 43% 0);
    --slice-5:inset(80% -6px 5% 0);


    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%,#00e6f6 3%,#00e6f6 5%, #ff013c 5%);
    text-shadow:-3px -3px 0px #f8f005,3px 3px 0px #00e6f6;
    /*代表向内缩多少 分别为上右下左*/
    clip-path: var(--slice-0);
    /*transform: translate(-20px,10px);*/
}
#myInfors .buttons a:hover::after{
    animation:1s Cyberpunk;
    animation-timing-function: steps(2,end);
}
@keyframes Cyberpunk{                                                           
    0%{
        clip-path: var(--slice-1);
        transform: translate(-20px,-10px);
    }
    10%{
        clip-path: var(--slice-3);
        transform: translate(10px,10px);
    }
    20%{
        clip-path: var(--slice-1);
        transform: translate(-10px,10px);
    }
    30%{
        clip-path: var(--slice-3);
        transform: translate(0px,5px);
    }
    40%{
        clip-path: var(--slice-2);
        transform: translate(-5px,0px);
    }
    50%{
        clip-path: var(--slice-3);
        transform: translate(5px,0px);
    }
    60%{
        clip-path: var(--slice-4);
        transform: translate(5px,10px);
    }
    70%{
        clip-path: var(--slice-2);
        transform: translate(-10px,10px);
    }
    80%{
        clip-path: var(--slice-5);
        transform: translate(20px,-10px);
    }
    90%{
        clip-path: var(--slice-1);
        transform: translate(-10px,0px);
    }
    100%{
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}




/*=======================================*/
/*================PAGE 2==================*/
/*========================================*/
.s2 h1{
    position: absolute;
    top: 30px;
    right: 30px;
    border-bottom: 1px solid var(--ikea);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: var(--lightyellow);
}

.card-container {
    width: 50%;
    height: 21vw;
    margin: 0;
    position: relative;
    left: 53%;
  }
  .swiper-slide {
   text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
  }
  
.pockerCard{
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}
.cover,.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .4rem;
}
.pockerCard .cover img{width: 100%;}
.cover{
    transform: rotateY(0deg);
}
.back{
    background-color: yellow;
    transform: rotateY(-180deg);
    background-image: linear-gradient( 177.8deg,  rgba(255,128,0,1) 9.2%, rgba(232,211,59,1) 86.8% );
}
.back h6{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}
.pockerCard:hover .cover{
    transform: rotateY(180deg);
}
.pockerCard:hover .back{
    transform: rotateY(0deg);
}



  @media screen and (max-width: 769px) {
    .card-container {
        display: none;
    }
    div.descriptionJ{
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }
    #animationMouse{
        visibility: hidden;
    }
  }
  @media screen and (min-width: 770px){
    .back h6{
        font-size: 12px;
    }
  }
  @media screen and (min-width: 992px) {
    .back h6{
        font-size: 17px;
    }
    .back #barCompetence{
        width: 80%;
    }
  }

















  .wrapperAnimation {
      width: 200px;
      height: 60px;
      position: absolute;
      left: 50%;
      top: 65%;
      padding: 5px 10px;
      z-index: 99;
  }
  .wrapperAnimation #animationMouse{
      display: inline-block;
      color: var(--lightyellow);
      font-size: 40px;
      animation: mouseAnimation 2.5s infinite;
      animation-delay: -0.5s;
      transform-origin: 70% 50px;
      z-index: 99;
  }
  @keyframes mouseAnimation{
      0%,20%{
        transform: translateY(0);
      }
      50%{
        transform: translateX(150px);
      }
      100% {
        transform: translateY(0);
    }
  }
  .photo_Box{
      position: absolute;
      top: 5%;
      left: 8%;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-image: url(./photo/WeChat\ Image_20210225203722.jpg);
      background-size: 98%;
      filter: blur(10px);
      -webkit-filter: blur(10px);
      transition: 0.3s filter linear;
  }
  .photo_Box:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  .descriptionJ{
      position: absolute;
      top: 40%;
      left: 5%;
  }
  .descriptionJ .description{
      position: relative;
      top: 20px;
  }
  
 




  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    transform-style: preserve-3d;
}
.container .box{
    position: relative;
    width: 450px;
    height: 280px;
    margin: 60px 0;
    background: transparent;
    transform-style: preserve-3d;
    border-radius: 30px;
}
.container .box:hover{
    box-shadow: 0 50px 80px rgba(0,0,0,.2);
}
.container .box .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.container .box .imgBox img{
    width:100%;
    border-radius: 30px;
}
.container .box .contentBox{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50px;
    right: 50px;
    background: #fff;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.container .box .contentBox h6{
    font-weight: 600;
}
.container .box .contentBox p{
    margin: 30px 0;
    font-size: 12px;
}
@media screen and (max-width: 992px) {
    .container .box .contentBox h6{
        font-size: .8rem;
    }
    .container .box .contentBox p{
        margin: 5px 0;
        font-size: 8px;
    }
    .container .box .contentBox{
        left: 10px;
        right: 10px;
    }
  }
  @media screen and (max-width: 769px) {
    .container .box .contentBox h6{
        font-size: .6rem;
    }
    .container .box .contentBox p{
        margin: 5px 0;
        font-size: 6px;
    }
    .container .box .contentBox{
        left: 10px;
        right: 10px;
    }
  }


.container .box:hover .contentBox{
    transform: translateZ(50px) scaleY(1);

}
  
  
  
 
